.background {
    -fx-background-color: #1d1d1d;
    -fx-background-image: url("../../../../../resources/images/paper3.png");
    -fx-background-size: 100.0%,100.0%;
    -fx-background-repeat: no-repeat ;

}

.background2 {
  -fx-background-image: url("../../../../../resources/images/delete.png"), url("../../../../../resources/images/delete.png"), url("../../../../../resources/images/lookUp.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: -100.0px 0.0px, 100.0px 0.0px, 0.0 0.0; /*Si queremos que se "abra" horizontalmente: */

}

.background2:hover {-fx-background-position: -200px 0px, 200px 0px, 0 0;}



#txFldSearch{
	-fx-font-size: 11pt;
	-fx-text-fill: #d8d8d8;
	-fx-border-style: solid;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-color: aqua ;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-background-radius: 20px;
    -fx-background-color: derive(#1d1d1d,50.0%);


}




.label {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}

.label-header {
    -fx-font-size: 30.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
/*  -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;*/
    -fx-padding: 5.0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35.0;
    -fx-border-width: 0.0 0.0 1.0 0.0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80.0%)
        transparent;
    -fx-border-insets: 0.0 10.0 1.0 0.0;
}

.table-view .column-header .label {
    -fx-font-size: 20.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1.0;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20.0%);
}

.split-pane {
    -fx-padding: 1.0 0.0 0.0 0.0;
}


.pane-content-bar{

	-fx-background-color: derive(#1d1d1d,20.0%);
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20.0%);


}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50.0%);
}

.menu-bar .label {
    -fx-font-size: 14.0pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}



/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */


.button {
    -fx-padding: 5.0 22.0 5.0 22.0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-border-radius: 10.0;
    -fx-background-radius: 10.0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
}


/**
 * Add - Button New
 */
.buttonNew {
    -fx-padding: 5.0 22.0 5.0 22.0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-border-radius: 10.0;
    -fx-background-radius: 10.0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
    -fx-background-image: url("../../../../../resources/images/icon_add.png");
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: left;

}

/* asignación por # id   */
#buttonNew:hover{

	-fx-background-color: #3F51B5;

}


/**
 * Add - Button Edit
 */
.buttonEdit {
    -fx-padding: 5.0 22.0 5.0 22.0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-border-radius: 10.0;
    -fx-background-radius: 10.0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
    -fx-background-image: url("../../../../../resources/images/editContact.png");
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: left;

}

.buttonEdit:hover {

-fx-background-color: #F50057;

}



/**
 * Add - Button Delete
 */
.buttonDelete {
    -fx-padding: 5.0 22.0 5.0 22.0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-border-radius: 10.0;
    -fx-background-radius: 10.0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0.0 0.0 0.0 0.0, 0.0, 1.0, 2.0;
    -fx-background-image: url("../../../../../resources/images/delete.png");
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: left;

}

.buttonDelete:hover {
    -fx-background-color: #F44336;
}

/*========================================================== */
#ejemplo {
  -fx-background-image: url("../../../../../resources/images/delete.png"), url("../../../../../resources/images/delete.png"), url("../../../../../resources/images/lookUp.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: -100.0px 0.0px, 100.0px 0.0px, 0.0 0.0; /*Si queremos que se "abra" horizontalmente: */

 /* -fx-background-position: 0 -100px, 0 100px, 0 0;   y si queremos que se "abra" verticalmente:*/

}
/**
 *
 * Y la regla del hover sería:
 * #ejemplo:hover {background-position: -200px 0px, 200px 0px, 0 0;}
 * o bien:
 * #ejemplo:hover {background-position: 0 -200px, 0 200px, 0 0;}
 */

#ejemplo:hover {-fx-background-position: -200px 0px, 200px 0px, 0 0;}

/*------------------------------------------------- */





/*------------------------------------------------- */


.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1.0, 1.0;
    -fx-border-style: solid, segments(1.0, 1.0);
    -fx-border-radius: 0.0, 0.0;
    -fx-border-insets: 1.0 1.0 1.0 1.0, 0.0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30.0%);
}